<div class="container mt-5">
 <div class="card">
   <div class="card-header d-flex justify-content-between">
     <h2>Mot de passe oublier?</h2>
     <a [routerLink]="['/home']" class="fw-bolder fs-4" style="color:#111;text-decoration:none">#SynergyImmo</a>
   </div>
   <div class="card-body bg-warning" style="height:100px">
     <div class="reset-password-container">
       <form (ngSubmit)="sendEmail()" >
         <div class="input-group">
           <input type="text" placeholder="Entre ton email*" required />
         </div>
         <button *ngIf="!enterNewPassword() ?'disabled':''" type="submit" class="reset-button">Send code otp</button>
       </form>
     </div>


   </div>
   <div class="reset-password-container newPassword" *ngIf="enterNewPassword()">
     <form   (ngSubmit)="validatePassword()">
       <div class="input-group">
         <input type="text" placeholder="Entre le nouvel mot de passe*" required />
       </div>
       <div class="input-group">
         <input type="text" placeholder="Confirmer le mot de passe*" required />
       </div>
       <div class="input-group">
         <input type="text" placeholder="Entre le code otp*" required />
       </div>
       <button type="submit" class="reset-button">Reset Password</button>
     </form>
   </div>
 </div>
</div>
