<header class="d-flex justify-content-between">
  <div class="row">
    <a class="text-dark fw-bolder fs-4 p-0 mb-3 logo"   style="text-decoration:none">#SynergyImmo</a>
  </div>
  <ul class="d-flex">
    <li><a href="#" style="color:#fff">Liste des reservations</a></li>
    <li><a href="#"  style="color:#fff">Gestion des biens</a></li>
  </ul>
  <ul class="user">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-person-circle"></i>
      </a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Profil</a></li>
        <li><a class="dropdown-item" href="#">Déconnection</a></li>
      </ul>
    </li>
  </ul>
</header>

<div class="container card p-4" style="margin-top:5rem">
  <table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
    <tr>
      <th>Bien reservé</th>
      <th>Date réservation</th>
      <th>Nom utilisateur</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <div class="d-flex align-items-center">
          <img
            src="/public/assets/img/logos/moov.png" alt="" style="width: 55px; height: 55px" class="rounded-circle"/>
          <div class="ms-3">
            <p class="fw-bold mb-1">Résidence meublée Yopougon </p>
          </div>
        </div>
      </td>
      <td>
        <p> 01/01/90</p>
      </td>
      <td>
       <p>
        Kouassi Raoul
       </p>
      </td>
      <td>
        <span class="badge bg-success">Complété</span>
      </td>
      <td>
      </td>
    </tr>
    <tr>
    <tr>
      <td>
        <div class="d-flex align-items-center">
          <img
            src="https://mdbootstrap.com/img/new/avatars/8.jpg"
            alt=""
            style="width: 45px; height: 45px"
            class="rounded-circle"
          />
          <div class="ms-3">
            <p class="fw-bold mb-1">Résidence meublée Yopougon </p>
          </div>
        </div>
      </td>
      <td>
        <p> 01/01/90</p>
      </td>
      <td>
        <p>
          Kouassi Raoul
        </p>
      </td>
      <td>
        <span class="badge bg-success">Complété</span>
      </td>
      <td>
      </td>
    </tr>
    <tr>
    <tr>
      <td>
        <div class="d-flex align-items-center">
          <img
            src="https://mdbootstrap.com/img/new/avatars/8.jpg"
            alt=""
            style="width: 45px; height: 45px"
            class="rounded-circle"
          />
          <div class="ms-3">
            <p class="fw-bold mb-1">Résidence meublée Yopougon </p>
          </div>
        </div>
      </td>
      <td>
        <p> 01/01/90</p>
      </td>
      <td>
        <p>
          Kouassi Raoul
        </p>
      </td>
      <td>
        <span class="badge bg-success">Complété</span>
      </td>
      <td>
      </td>
    </tr>
    <tr>




    </tbody>
  </table>

</div>
