<section class="page-section bg-light" id="portfolio">
  <div class="container" id="nosBiens">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Nos derniers biens</h2>
    </div>
    <div class="row">

        <div *ngFor="let residence of ListResidences(); trackBy: trackBySlug" class="col-12 col-md-6 col-lg-3 mb-4" >
          <a [routerLink]="['/detail' , residence.slug]" style="text-decoration: none;">
            <div class="card" >
              <div class="image-container" style="position: relative; width: 100%; height: 250px;">
                <img src="{{residence.images[0].imageUrl}}" class="card-img-top" alt="..." style="width:100%; height: 250px;"
                     >
                <div [ngClass]="residence.available ? 'availability':'availability-badge'">
                  <span *ngIf="residence.available">Disponible</span>
                  <span *ngIf="!residence.available">Disponible le 15/12</span>
                </div>
              </div>
              <div class="card-body">
                <h5 class="card-title">{{residence.name}}</h5>
                <p class="card-text price"><i class="bi bi-cash-coin"></i> {{residence.price}} / nuit</p>
              </div>
            </div>
          </a>
        </div>
    </div>
    <a style="position:relative;transform:translateX(150%)" [routerLink]="['/biens']" class="btn btn-outline-warning py-3 w-25" >Voir tout les biens</a>
  </div>
</section>

