
  <div class="payment-options">
    <h2>Choisissez Le moyens de paiement</h2>
    <form action="">
      <div class="payment-grid">
        <label class="payment-option">
          <input type="checkbox" name="payment" value="wave">
          <img src="assets/img/logos/Wave.jpg" alt="Wave">
          <span>Wave</span>
        </label>

        <label class="payment-option">
          <input type="checkbox" name="payment" value="orange-money">
          <img src="assets/img/logos/orange.png" alt="Orange Money">
          <span>Orange Money</span>
        </label>

        <label class="payment-option">
          <input type="checkbox" name="payment" value="mtn-mfs">
          <img src="assets/img/logos/mtn.jpg" alt="MTN MFS CI">
          <span>MTN money</span>
        </label>

        <label class="payment-option">
          <input type="checkbox" name="payment" value="moov-money">
          <img src="assets/img/logos/moov.png" alt="Moov Money">
          <span>Moov Money</span>
        </label>
      </div>
      <button class="btn btn-outline-warning position-relative" style="left:20px">Paiement</button>
    </form>
  </div>
