<div class="container-list">
  <div class="property-list">
    <a class="text-dark fw-bolder fs-4 p-0 m-0"  [routerLink]="['/home']" style="text-decoration:none">#SynergyImmo</a>
    <app-search></app-search>

    <div class="grid-container row">
      <!-- Card Example -->
        <div class="card" style="width: 300px;">
          <div class="carousel">
            <div class="carousel-images">
              <img src="assets/img/portfolio/Image 2.jpeg" style="object-fit: cover;height: 100%" alt="Image 1">
            </div>
            <span class="badge bg-success">Disponible</span>
          </div>
          <div class="card-content">
            <div class="card-title">Residence Nabil</div>
            <div class="card-rating"><i class="bi bi-heart-fill"></i> 1</div>
            <div>Abidjan , plateau (avenue nogues)</div>
            <div class="card-footer">25 000 Fcfa la nuit</div>
          </div>
        </div>
        <div class="card" style="width: 300px">
          <div class="carousel">
            <div class="carousel-images">
              <img src="assets/img/portfolio/Image 2.jpeg" style="object-fit: cover;height: 100%" alt="Image 1">
            </div>
            <span class="badge bg-success">Disponible</span>
          </div>
          <div class="card-content">
            <div class="card-title">Residence Nabil</div>
            <div class="card-rating"><i class="bi bi-heart-fill"></i> 1</div>
            <div>Abidjan , plateau (avenue nogues)</div>
            <div class="card-footer">25 000 Fcfa la nuit</div>
          </div>
        </div>
        <div class="card" style="width: 300px">
          <div class="carousel">
            <div class="carousel-images">
              <img src="assets/img/portfolio/Image 2.jpeg" style="object-fit: cover;height: 100%" alt="Image 1">
            </div>
            <span class="badge bg-success">Disponible</span>
          </div>
          <div class="card-content">
            <div class="card-title">Residence Nabil</div>
            <div class="card-rating"><i class="bi bi-heart-fill"></i> 1</div>
            <div>Abidjan , plateau (avenue nogues)</div>
            <div class="card-footer">25 000 Fcfa la nuit</div>
          </div>
        </div>
        <div class="card" style="width: 300px">
          <div class="carousel">
            <div class="carousel-images">
              <img src="assets/img/portfolio/Image 2.jpeg" style="object-fit: cover;height: 100%" alt="Image 1">
            </div>
            <span class="badge bg-success">Disponible</span>
          </div>
          <div class="card-content">
            <div class="card-title">Residence Nabil</div>
            <div class="card-rating"><i class="bi bi-heart-fill"></i> 1</div>
            <div>Abidjan , plateau (avenue nogues)</div>
            <div class="card-footer">25 000 Fcfa la nuit</div>
          </div>
        </div>
      <div class="card" style="width: 300px">
        <div class="carousel">
          <div class="carousel-images">
            <img src="assets/img/portfolio/Image 2.jpeg" style="object-fit: cover;height: 100%" alt="Image 1">
          </div>
          <span class="badge bg-success">Disponible</span>
        </div>
        <div class="card-content">
          <div class="card-title">Residence Nabil</div>
          <div class="card-rating"><i class="bi bi-heart-fill"></i> 1</div>
          <div>Abidjan , plateau (avenue nogues)</div>
          <div class="card-footer">25 000 Fcfa la nuit</div>
        </div>
      </div>
      <div class="card" style="width: 300px">
        <div class="carousel">
          <div class="carousel-images">
            <img src="assets/img/portfolio/Image 2.jpeg" style="object-fit: cover;height: 100%" alt="Image 1">
          </div>
          <span class="badge bg-success">Disponible</span>
        </div>
        <div class="card-content">
          <div class="card-title">Residence Nabil</div>
          <div class="card-rating"><i class="bi bi-heart-fill"></i> 1</div>
          <div>Abidjan , plateau (avenue nogues)</div>
          <div class="card-footer">25 000 Fcfa la nuit</div>
        </div>
      </div>


    </div>
  </div>
  <!-- Carte -->
  <div class="map">
    <app-google-map-demo> </app-google-map-demo>
  </div>
</div>
