<div class="container-list">
  <!-- Liste des biens -->
  <div class="property-list">
    <h2>Découvrez d'autres logements</h2>

    <!-- Exemple de bien immobilier -->
    <div class="property-card" *ngFor="let property of properties">
      <img [src]="property.imageUrl" alt="{{property.name}}">
      <div class="property-info">
        <h3>{{ property.type }} • {{ property.city }}</h3>
        <p>{{ property.description }}</p>
        <p class="price">{{ property.pricePerNight }} € par nuit • {{ property.totalPrice }} € au total</p>
      </div>
    </div>
  </div>

  <!-- Carte -->
  <div class="map">
    <app-google-map-demo> </app-google-map-demo>
  </div>
</div>
