<div class="container-list">
  <div class="property-list">
    <a class="text-dark fw-bolder fs-4 p-0 m-0"  [routerLink]="['/home']" style="text-decoration:none">#SynergyImmo</a>
    <app-search></app-search>

    <div class="grid-container row">
      <!-- Card Example -->
      @for (residence of searchS.Properties(); track residence.slug){
        <div class="col-12 col-md-6 col-lg-3 mb-4" >
          <a [routerLink]="['/detail' , residence.slug]" style="text-decoration: none;">
            <div class="card" >
              <div class="image-container" style="position: relative; width: 100%; height: 250px;">
                <img src="{{residence.images[0].imageUrl}}" class="card-img-top" alt="..." style="width:100%; height: 250px;"
                >
                <div [ngClass]="residence.available ? 'availability':'availability-badge'">
                  <span *ngIf="residence.available">Disponible</span>
                  <span *ngIf="!residence.available">Disponible le 15/12</span>
                </div>
              </div>
              <div class="card-body">
                <h5 class="card-title">{{residence.name}} llll</h5>
                <p class="card-text price"><i class="bi bi-cash-coin"></i> {{residence.price}} / nuit</p>
              </div>
            </div>
          </a>
        </div>
      }

    </div>
  </div>
  <!-- Carte -->
  <div class="map">
    <app-google-map-demo> </app-google-map-demo>
  </div>
</div>
