/* Styles personnalisés */
.navbar-custom {
  background-color: #ffc107; /* Jaune */
  position:fixed;
  width: 100%;
  top:0;
}
.navbar-brand {
  font-weight: bold;
}
.nav-link {
  color: white !important;
}
.dropdown-menu {
  border-radius: 0.5rem;
}
