<app-nav-bar></app-nav-bar>
<div class="container-fluid d-flex align-items-center" style="margin-top:7rem">
  <div class="card reservation-card d-flex border">
      <div class="card-header text-center border-bottom bg-white py-4">
        <h3 class="fw-bold mb-0">Détail de la résidence</h3>
      </div>
        <div class="card-body d-flex align-items-center justify-content-center gap-4" >
          <div class="d-flex flex-column">
            <div class="duration-badge  mb-5">
              <span class="fw-medium fs-5">Durée du séjour</span>
              <span class="fs-5"> 5 nuits</span>
            </div>

            <div class="price-details">
              <h4 class="section-title">Détails du prix</h4>
              <div class="mb-3 d-flex justify-content-between fs-5">
                <span>Montant/Jour</span>
                <span>70,000 Fcfa</span>
              </div>
              <div class="mb-4 d-flex justify-content-between fs-5">
                <span>Frais de service Synergyimmo</span>
                <span>100 Fcfa</span>
              </div>
              <hr class="my-4">
              <div class="d-flex justify-content-between fw-bold fs-4">
                <span>Total (Fcfa)</span>
                <span>70,100 Fcfa</span>
              </div>
            </div>
          </div>
        </div>
      <div class="card-footer text-center p-4 bg-white">
        <a routerLink="/paiement"> <button type="button" class="btn btn-next">
          Passer au Paiement
          <i class="fas fa-arrow-right ms-2"></i>
        </button></a>
      </div>
  </div>
</div>
<app-footer></app-footer>
