<div class="card w-50">
  <div class="py-2">
    <p-button
      type="button"
      icon="pi pi-minus"
      (onClick)="prev()"
      severity="secondary"
      styleClass="mr-2" />
    <p-button
      type="button"
      icon="pi pi-plus"
      (onClick)="next()" />
  </div>
  <p-galleria
    [value]="images"
    [responsiveOptions]="responsiveOptions"
    [containerStyle]="{ 'max-width': '640px' }"
    [numVisible]="5"
    [(activeIndex)]="activeIndex">
    <ng-template pTemplate="item" let-item>
      <img [src]="item.itemImageSrc" style="width: 100%;" />
    </ng-template>
    <ng-template pTemplate="thumbnail" let-item>
      <div class="grid grid-nogutter justify-content-center">
        <img [src]="item.thumbnailImageSrc" />
      </div>
    </ng-template>
  </p-galleria>
</div>
