
.property-details-container {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding:20px;
  display:flex;
}

.gallery {
  border:2px solid #999;
  padding:20px;
  width:60%;
  height:100vh;
  border-radius: 8px;

}

.main-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.thumbnails {
  display: flex;
  gap: 5px;
  overflow-x: auto;
}

.thumbnails img {
  width: 60px;
  height: 60px;
  cursor: pointer;
  border-radius: 4px;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.thumbnails img:hover,
.thumbnails img:active {
  opacity: 1;
}

.details {
  padding: 15px;
  width:40%;
}

.details h2 {
  margin: 0;
  font-size: 1.5em;
}

.details p {
  color: #555;
  font-size: 0.9em;
}

.highlights {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.rating {
  font-size: 1.2em;
  margin-top: 10px;
  color: #333;
}

.payment-card {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top:20px;
}

.payment-card .price {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 15px;
}

.payment-card label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.payment-card input,
.payment-card select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.reserve-button {
  background-color: #ff5a5f;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 15px;
  font-size: 1em;
}

.reserve-button:hover {
  background-color: #ff3b3f;
}

.summary {
  margin-top: 20px;
  font-size: 0.9em;
}

.summary p {
  display: flex;
  justify-content: space-between;
}

hr {
  margin: 10px 0;
  border: 0;
  border-top: 1px solid #ddd;
}

@media (min-width: 768px) {
  .property-details-container {
    grid-template-columns: 2fr 1fr;
  }
}
