
@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}
@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
  }
}

input.form-control {
  border: 1px solid #ced4da;
  transition: border-color 0.3s ease;
}

input.form-control:focus {
  border-color: #ffc107;
  box-shadow: 0 0 8px rgba(255, 193, 7, 0.5);
}

h1, h4, p {
  font-family: 'Arial', sans-serif;
}

