<section class="h-100 gradient-form d-flex justify-content-center align-items-center border"  style="background-color: #eee;">
  <p-toast></p-toast>
  <div class="container py-5 h-100 border " style="margin-top: -12rem;background-color:#2c3e50">
    <div class="row d-flex justify-content-center align-items-center h-100 ">
      <div class="col-xl-10 ">
        <div class="card rounded-3 text-black">
          <div class="row g-0 " style="margin: 0 auto;border:none">
            <div class="col-lg-6 d-flex align-items-center " style="background-color:#2c3e50" >
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h1><a class="text-warning fw-bolder" [routerLink]="['/home']" style="text-decoration:none">#SynergyImmo</a></h1>
                <h4 class="mb-4 text-light">Connectez-vous pour découvrir un monde incroyable !</h4>
              </div>
            </div>
            <div class="col-lg-6" >
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <h4 class="mt-1 mb-5 pb-1">Inscrit toi sur SynergyImmo</h4>
                </div>

                <form (ngSubmit)="register()" [formGroup]="formGroup">

                  <div data-mdb-input-init class="form-outline mb-4">
                    <input type="email" id="lastName" class="form-control"
                           placeholder="nom" formControlName="lastName" />
                    @if (isInvalidaedInput(formGroup.controls['lastName'])){
                      <small class="text-danger">
                        le Nom est requis
                      </small>
                    }
                  </div>

                  <div data-mdb-input-init class="form-outline mb-4">
                    <input type="email" id="firstName" class="form-control"
                           placeholder="prenom"  formControlName="firstName"/>
                    @if (isInvalidaedInput(formGroup.controls['firstName'])){
                      <small class="text-danger">
                        le Prenom est requis
                      </small>
                    }
                  </div>

                  <div data-mdb-input-init class="form-outline mb-4">
                    <input type="email" id="form2Example11" class="form-control"
                           placeholder="email" required formControlName="email"/>
                    @if (isInvalidaedInput(formGroup.controls['email'])){
                      <small class="text-danger">
                        email est requis
                      </small>
                    }
                  </div>

                  <div data-mdb-input-init class="form-outline mb-4">
                    <input formControlName="password" type="password" id="form2Example22" class="form-control" placeholder="****" required/>
                    @if (isInvalidaedInput(formGroup.controls['password'])){
                      <small class="text-danger">
                        Mot de passe est requis
                      </small>
                    }
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
                    <button  [disabled]="!this.formGroup.valid"  class="btn btn-warning btn-block fa-lg  mb-3 me-3" type="submit">S'enregistrer</button>
                  </div>

                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 me-2">Vous avez un compte?</p>
                    <a [routerLink]="['/login']"  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-warning">Se connecter</a>
                  </div>

                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
