<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Définition des métadonnées et liens vers les styles CSS -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Icones Remixicon -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css"
    />
    <!-- Fichier de style personnalisé -->

    <title>File Sharing Platform UI | AsmrProg</title>
  </head>

  <body>
    <!-- Section de gauche : barre latérale -->
    <div class="left-section">
      <div class="sidebar">
        <!-- Titre de la barre latérale -->
        <h2>Synergy Immo</h2>
        <!-- Éléments du menu avec des icônes -->
        <div class="item active">
          <i class="ri-apps-line"></i>
          <h3>Dashboard</h3>
        </div>
        <div class="item">
          <i class="ri-user-fill"></i>
          <h3>Proprietaire</h3>
        </div>
        <div class="item">
          <i class="ri-user-3-line"></i>
          <h3>Client</h3>
        </div>
        <div class="item">
          <i class="ri-folder-lock-line"></i>
          <h3>Reservation</h3>
        </div>

        <div class="item">
          <i class="ri-settings-3-line"></i>
          <h3>Settings</h3>
        </div>
      </div>

      <!-- Bouton de déconnexion -->
      <div class="sign-out">
        <i class="ri-logout-box-r-line"></i>
        <h3>Sign Out</h3>
      </div>
    </div>

    <!-- Section principale -->
    <div class="main">
      <!-- En-tête avec barre de recherche et icônes -->
      <!-- <div class="header">
        <div class="search">
          <button><i class="ri-search-2-line"></i></button>
          <input type="text" placeholder="Search" />
          <i class="ri-equalizer-line"></i>
        </div>
        <div class="icon-btns">
          <i class="ri-notification-line"></i>
          <i class="ri-message-3-line"></i>
          <i class="ri-menu-line" id="menu-btn"></i>
        </div>
      </div> -->

      <!-- Section d'accès rapide -->
      <h3 class="separator">Acces rapide</h3>
      <div class="quick-access">
        <!-- Éléments avec icônes et informations -->
        <div class="item">
          <i class="ri-user-fill"></i>
          <h5>Proprietaires</h5>
          <p>17</p>
        </div>
        <div class="item">
          <i class="ri-user-3-line"></i>
          <h5>Clients</h5>
          <p>128</p>
        </div>
        <div class="item">
          <i class="ri-folder-lock-line"></i>
          <h5>Reservations</h5>
          <p>1500</p>
        </div>
        <div class="item">
          <i class="ri-store-3-fill"></i>
          <h5>Autres</h5>
          <p></p>
        </div>
      </div>

      <!-- Section des fichiers récents -->
      <h3 class="separator">Recent</h3>
      <table>
        <tbody>
          <!-- Ligne sélectionnée -->
          <tr class="selected">
            <td class="name">Koffi Ange</td>
            <td class="name">Residence meublée</td>
            <td class="name">12/11/2024</td>
            <td class="size">25 000 FCFA</td>
            <td class="more"><i class="ri-more-fill"></i></td>
          </tr>
          <tr class="">
            <td class="name">Koffi Ange</td>
            <td class="name">Residence meublée</td>
            <td class="name">12/11/2024</td>
            <td class="size">25 000 FCFA</td>
            <td class="more"><i class="ri-more-fill"></i></td>
          </tr>
          <tr class="">
            <td class="name">Koffi Ange</td>
            <td class="name">Residence meublée</td>
            <td class="name">12/11/2024</td>
            <td class="size">25 000 FCFA</td>
            <td class="more"><i class="ri-more-fill"></i></td>
          </tr>
          <tr class="">
            <td class="name">Koffi Ange</td>
            <td class="name">Residence meublée</td>
            <td class="name">12/11/2024</td>
            <td class="size">25 000 FCFA</td>
            <td class="more"><i class="ri-more-fill"></i></td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Section droite : profil utilisateur et widgets -->
    <div class="right-section">
      <!-- Profil utilisateur -->
      <div class="profile">
        <div class="info">
          <img src="assets/profile.png" />
          <div class="account">
            <h5>Mesmer Coulibaly</h5>
            <p>mesmercoulibalygmail.com</p>
          </div>
        </div>
        <i class="ri-arrow-down-s-line"></i>
      </div>

      <!-- Widgets -->
    </div>

    <!-- Fichier JS -->
    <script src="js/script.js"></script>
  </body>
</html>
