<header class="d-flex justify-content-between">
  <div class="row">
    <a class="text-dark fw-bolder fs-4 p-0 mb-3 logo"   style="text-decoration:none">#SynergyImmo</a>
  </div>
  <ul class="d-flex">
    <li><a href="#" style="color:#fff">Liste des biens</a></li>
    <li><a href="#"  style="color:#fff">Gestion des biens</a></li>
  </ul>
  <ul class="user">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-person-circle"></i>
      </a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Profil</a></li>
        <li><a class="dropdown-item" href="#">Déconnection</a></li>
      </ul>
    </li>
  </ul>
</header>

<div>
  <h1>Liste de vos biens</h1>
</div>
<div class="container card p-4" style="margin-top:5rem">
<div>

</div>
</div>
