.form-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
  background-color: #f9f9f9;
  padding: 15px;
  border: 2px solid #ffbb00;
  border-radius: 12px;
  max-width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container div {
  flex: 1 1 150px;
  min-width: 160px;
}

.form-container input,
.form-container select,
.form-container button {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ddd;
  font-size: 1em;
  transition: all 0.3s ease;
}

.form-container input:hover,
.form-container select:hover {
  border-color: #ffbb00;
  box-shadow: 0 2px 4px rgba(255, 187, 0, 0.2);
}

.form-container button {
  background-color: #ffbb00;
  color: #111;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
}

.form-container button:hover {
  background-color: #fff;
  border: 2px solid #ffbb00;
  color: #111;
  box-shadow: 0 2px 6px rgba(255, 187, 0, 0.4);
}


.form-container input[type="rechercher"] {
  width: 80%;
  padding: 8px;
  font-size: 0.9em;
  border-radius: 4px;
  border: 1px solid #ddd;
  transition: all 0.3s ease;
}


.form-container button {
  padding: 8px 12px;
  font-size: 0.9em;
}


.search-container {
  position: relative;
}

.search-bar {
  padding-right: 40px;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #777;
}

