.search-bar {
  background-color: #d8ba14;
  padding: 30px;
  width: 50%;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border:2px solid;
  position:absolute;
  z-index:30;
  left:50%;
  transform:translateX(-50%);
  top:45%;
  border-radius:15px;
}

.search-bar h1 {
  font-size: 18px;
  margin: 0;
  flex-grow: 1;
}


.search-options {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.search-options button {
  background: #ff69b4;
  border: none;
  color: white;
  padding: 8px 15px;
  margin-right: 5px;
  cursor: pointer;
}

.search-options button:nth-child(2) {
  background: white;
  color: black;
  border: 1px solid #ccc;
}

.search-bar select, .search-bar input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.search-bar input {
  flex-grow: 1;
}
