<div class="container d-flex justify-content-center" >
  <div class="rounded-5 bg-primary row user border p-4 d-flex justify-content-center align-items-center" style="position:absolute;right:450px;z-index: 499">
    <div class="col user">
      <input type="text" name="ville" id="ville" class="form-control py-3" placeholder="Ville"/>
    </div>
    <div class="col user">
      <input type="text" name="quartier" id="quartier" class="form-control py-3" placeholder="Quartier"/>
    </div>
    <div class="col user">
      <input type="text" name="price" id="price" class="form-control py-3" placeholder="Price" />
    </div>
    <div class="col">
      <button type="submit" class="btn btn-outline-light w-100">Rechercher</button>
    </div>
  </div>
</div>
