
/* Style for each field */
.search-field {
  margin: 0 5px;
  padding: 15px;
  border: none;
  display:block;
  background-color: #ffffff;
  border-radius: 30px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Hover effect for each field */
.search-field:hover {
  background-color: #e5e5e5;
}

/* Style for the search button */
.search-button {
  background-color: #ffc800;
  border: none;
  border-radius: 40%;
  padding: 12px 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #fff;
  border:2px solid #ffc800;
}

/* Icon in the search button */
.search-button img {
  width: 20px;
  height: 20px;
}
