<div class="apropos-container" id="apropos">
  <div class="apropos text-center">
    <h1 class=" fw-bolder">À Propos de Notre Plateforme</h1>
    <p>
      Bienvenue sur notre plateforme de réservation immobilière, votre solution idéale pour trouver des logements, hôtels, et autres propriétés à louer ou à réserver. Que vous soyez propriétaire cherchant à mettre un bien à disposition ou locataire en quête d'un hébergement, notre service vous simplifie la tâche.
    </p>

  </div>
 <div class="service text-center">
   <h2 class="fw-bolder mb-4">Nos Services</h2>
   <ul class="d-flex">
     <li>
       <strong>Recherche de biens :</strong> Utilisez notre moteur de recherche pour trouver facilement des résidences.
     </li>
     <li>
       <strong>Réservations en ligne :</strong> Réservez vos logements directement sur la plateforme et recevez une confirmation instantanée.
     </li>
     <li>
       <strong>Notifications par e-mail :</strong> Recevez des notifications automatiques pour vos réservations et confirmations de paiement.
     </li>
     <li>
       <strong>Gestion pour les propriétaires :</strong> Les propriétaires peuvent gérer leurs biens, consulter les réservations et ajouter des photos et descriptions de leurs logements.
     </li>
   </ul>
 </div>

<div class="avantage text-center">
  <h2 class="fw-bolder">Pourquoi Choisir Notre Plateforme ?</h2>
  <p>
    Nous offrons une interface intuitive, des fonctionnalités avancées pour une gestion simplifiée, et une sécurité renforcée pour protéger les informations de nos utilisateurs. Avec une équipe dédiée au support client, nous sommes là pour répondre à toutes vos questions et vous accompagner tout au long de votre expérience.
  </p>
</div>
</div>
